@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

html {
  background-image: url("https://joeythemonk.s3.amazonaws.com/_next/static/media/background.25482e84.gif");
  background-size: cover;
  overflow-x: hidden;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
}

.hide-loading {
  animation: hide 1s forwards;
  animation-timing-function: linear;
}

@keyframes hide {
  0% {
      opacity: 100%;
  }

  100% {
      opacity: 0;
      display: hidden;
  }
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
}

.dot1 {
  animation: bounce 1s infinite;
  animation-timing-function: linear;
}

.dot2 {
  animation: bounce 1s infinite;
  animation-timing-function: linear;
  animation-delay: 300ms;
}

.dot3 {
  animation: bounce 1s infinite;
  animation-timing-function: linear;
  animation-delay: 600ms;
}

@keyframes bounce {
  0% {
      transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
      transform: translateY(0px);
  }
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.content-wrapper {
  width: 1100px;
}

.the-pages {
  position: relative;
  z-index: 10;
}

.video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.photo_grid {
  animation: fade-in .5s forwards;
  animation-timing-function: linear;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.fade-out {
  animation: fade-out .5s forwards;
  animation-timing-function: linear;
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

.slide-out {
  animation: slide-out .3s forwards;
  animation-timing-function: linear;
}

@keyframes slide-out {
  0% {
      transform: translateX(900px);
  }

  100% {
      transform: translateX(0px);
  }
}


.slide-in {
  animation: slide-in .3s forwards;
  animation-timing-function: linear;
}

@keyframes slide-in {
  0% {
      transform: translateX(0px);
  }

  100% {
      transform: translateX(900px);
  }
}